body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0px;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #6622AA;
	color: white;
	text-align: center;
}

.header h1 {
	flex: 1;
}

.header button {
	height: fit-content;
	padding: 8px;
	margin-left: 16px;
	background: #9955CC;
	border: 2px solid white;
	border-radius: 32px;
	color: white;
	font-weight: bold;
}

.section {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sorting-buttons {
	display: flex;
	overflow: hidden;
	border: 2px solid white;
	border-radius: 32px;
}

.sort-input {
	display: none;
}

.sort-label {
	padding: 8px 12px;
	background: #6622AA;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.sort-label:not(:last-of-type) {
	border-right: 2px solid white;
}

.sort-input:checked + .sort-label {
	background: #9955CC;
}

.sorting-data {
	margin-right: 32px;
}

.array-display {
	display: flex;
	width: 800px;
	height: 500px;
	border: 2px solid black;
}

footer {
	display: flex;
	justify-content: space-around;
	padding: 16px;
	background-color: #6622AA;
	color: white;
	font-weight: bold;
}